h1{
    padding: 0px 75px;
    color: greenyellow;
}
.FIRST{
    padding: 0px 75px;
color: greenyellow;
size: 200px;
} 
body{
    background-color: black;
}  
.second{padding: 0px 75px;
    color: greenyellow;
    size: 200px;

} 
.thrid{
    padding: 0px 75px;
color: greenyellow;
size: 2000px;
}
